<app-notes-list></app-notes-list>
<button id="AddButton" (click)="addNote(name.value, text.value)">Add note</button>
<button id="DeleteButton" (click)="deleteNote()">Delete note</button>
<input id="TitleField" #name [value]="notesService.selectedNote.name">
<textarea id="TextField" #text [value]="notesService.selectedNote.text"></textarea>
