#AddButton{
  position: absolute;
  top: 500px;
  left: 10px;
  width: 150px;
  height: 40px;
  background-color: yellow;
  font-weight: bold;
}

#DeleteButton{
  position: absolute;
  top: 550px;
  left: 10px;
  width: 150px;
  height: 40px;
  background-color: #1f20ff;
  font-weight: bold;
}

#TitleField{
  position: absolute;
  top: 460px;
  left: 10px;
  height: 30px;
  width: 150px;
  background-color: lightgrey;

}

#TextField{
  float: right;
  position: absolute;
  top: 10px;
  left: 180px;
  width: 800px;
  height: 570px;
  background-color: #c4eee5;
}


